// Imports go at top
@import 'variables.styl'

*,
*:before,
*:after 
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

body 
 background-color: $primaryColor;
 color: #eee;
 min-height: 100vh;
 text-align: center;